
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: #f0f0f0;
}
main{
    
    border-radius: 20px;
    margin: 20px  auto;
    background-color: white;
    max-width: 500px;
    box-shadow: 3px 1px 20px black;
  
}

article{
    padding: 10px 20px;
  
}
p{
    font-size: 20px;
  margin:10px;
}
th,td{
     border: 1px solid black;
}
table {
    width: 95%;
    height: 270px;
    text-align: center;
}
 

#altura{
    margin-top:0.5px ;
}
input{
    height: 25px;
    align-items: center;
}
button{
    display: block;
    width: 95%;
    height: 30px;
    margin-top: 10px;
    transition: 0.5s;
}
button:hover{
    background-color:rgba(128, 128, 128, 0.434);
    font-weight: bolder;
}
small{
    display: block;
    text-align: center;
    padding-bottom: 5px;
}

@media (max-width:600px){
    body{
        margin: 10px 20px;
    }
}