
body{
    min-height: 100vh;
}
main{
    border-radius: 20px;
    margin: auto;
    background-color: white;
    width: 500px;
    box-shadow: 3px 1px 20px black;
  
}

article{
    padding: 10px 20px;
  
}
p{
    margin: 5px;
    font-size: 20px;
}
th,td{
     border: 1px solid black;
}
table {
    width: 450px;
    height: 270px;
    text-align: center;
}
input{
    height: 25px;
}
button{
    display: block;
    width: 450px;
    height: 30px;
    margin-top: 10px;
    transition: 0.5s;
}
button:hover{
    background-color:rgba(128, 128, 128, 0.434);
    font-weight: bolder;
}
small{
    display: block;
    text-align: center;
    padding-bottom: 5px;
}
